<div class="background"></div>
<div class="main-container">
  <div class="top-bar">
    <input type="text" placeholder="City name" [(ngModel)]="cityName" name="cityName" (keyup.enter)="onAddCity()">
    <button (click)="onAddCity()">Add</button>
    <button (click)="clearAll()">Clear</button>
  </div>
  <div class="content">
    <div class="city-list">
      <div class="body">
        <div class="city-card" *ngFor="let city of cities" (click)="onClickCity(city)">
          <h1>{{ city.name }}</h1>
          <div class="city-weather">
            <h2>{{city.todayForcast?.temp}}°C</h2>
            <h2>{{city.todayForcast?.description}}</h2>
            <img src="https://openweathermap.org/img/wn/{{city.todayForcast?.icon}}.png" alt="weather-icon">
          </div>
        </div>
      </div>
      <div class="pagination" *ngIf="totalPage > 1">
        <div class="pagination-button" *ngFor="let item of [].constructor(totalPage); let i = index">
          <button (click)="onClickPage(i + 1)">{{i + 1}}</button>
        </div>
      </div>
    </div>
    <div class="city-detail" *ngIf="selectedCity">
      <div class="today-forcast">
        <h1>{{selectedCity.name}} - Today</h1>
        <div class="today-forcast-detail">
          <div class="info">
            <table>
              <tr><td>Temp</td><td>: {{selectedCity.todayForcast?.temp}}°C</td></tr>
              <tr><td>Wind</td><td>: {{selectedCity.todayForcast?.wind}} M/S</td></tr>
              <tr><td>Humidity</td><td>: {{selectedCity.todayForcast?.humidity}}%</td></tr>
            </table>
          </div>
          <div class="icon">
            <img src="https://openweathermap.org/img/wn/{{selectedCity.todayForcast?.icon}}@4x.png" alt="weather-icon">
            <h2>{{selectedCity.todayForcast?.description}}</h2>
          </div>
        </div>
      </div>
      <div class="nday-forcast">
        <div class="nday-forcast-card" *ngFor="let item of selectedCity.nextDayForcasts">
          <h1>{{item.date}}</h1>
          <img src="https://openweathermap.org/img/wn/{{item.icon}}@2x.png" alt="weather-icon">
          <table>
            <tr><td>Temp</td><td>: {{item.temp}}°C</td></tr>
            <tr><td>Wind</td><td>: {{item.wind}} M/S</td></tr>
            <tr><td>Humidity</td><td>: {{item.humidity}}%</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
